@import "./node_modules/open-props/open-props.min.css";
@import "./node_modules/open-props/normalize.min.css";
@import "./node_modules/open-props/buttons.min.css";


body {
  display: grid;
  justify-content: center;
  align-content: start;
}
 
main{ 
  padding: 1rem;
  max-width: 40rem;
  font-size: var(--font-size-3);
}

main div {
  display: flex;
  gap: var(--size-2);
  flex-direction: column;
  justify-content: center;
  margin: 1rem;
  width:100%;
}

img {
  width: 20rem;
  margin-inline: auto;
}

h1{
  font-size: var(--size-7);
  margin-inline: auto;
}

.clear-btn{
  float: right;
  font-size: var(--size-4);
  padding: var(--size-1) var(--size-2);
}
 
input{
  font-size: var(--font-size-2);
  width: 100%
}

a {
  margin-left: 1rem
}